<% provide(:title, 'All users') %>
<h1>All users</h1>
<hr />

<%= will_paginate %>

<ul class="users">
  <%= render @users %>

<!--	-eq
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for(user, size:55) %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
-->
</ul>


<%= will_paginate %>
